.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  display: flex;
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.Menu {
  margin-right: auto; 
  margin-left: 0;
  float: left;

}

.Panels {
  display: flex;
}

.SidePanel {
  margin-left: auto; 
  margin-right: 0;
  float: right;
}

.Header {
  /* margin-bottom: auto; 
  margin-top: 0; */
}
