.App {
    text-align: center;
    border-left: solid 3px gray;
  }
  
  .Usefull-Info {
    flex-direction: column;
    display: flex;
    font-size: 15px;
  }

.Item {
  display: flex;
  padding: 10px;
}

.Update-Date {
  font-size: 11px;
  position: absolute;
}