.Profile-Header{
    float: left;
    /* margin-left: 50px; */
}

.Card-Section{
    display: flex;
    justify-content: center;
}

.Card {
    padding: 10px;
}


.Positions-History {
    margin-top: 60px;
    display: flex;
    display: grid;
    justify-content: center
}
