.container {
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    max-width: 900px;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;  
}

.title {
    font-size: 2.5em;
    color: #333;
}

.subtitle {
    font-size: 1.5em;
    color: #777;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1.2em;
    min-width: 400px;
}

.tableHeader {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.tableRow {
    border-bottom: 1px solid #ddd;
}

.tableData {
    padding: 10px;
    text-align: left;
}

.stockChangeIcon {
    margin-left: 8px;
}

.errorMessage {
  color: red;
}

.loadingMessage {
  color: #777;
}