.App {
    text-align: center;
}

.graphs {
    position: relative;
    /* justify-content: space-evenly; */
    width: 100%;
    height: 100%;

    .charts-sections {
        width: 25%;
        height: 25%;
    }
}

AgChartsReact {
    max-height: 250px;
}

.ag-chart-wrapper {
    overflow: visible !important;
}