.App {
    text-align: center;
  }
.charts-sections1 {
    /* display: flex; */
    /* display: grid; */
    /* justify-content: center; */
    /* max-height: 250px; */
    width: 100%;
    height: 25%;
    height: 38%;
}

.charts-sections2 {
    /* display: flex; */
    /* display: grid; */
    /* justify-content: center; */
    /* max-height: 250px; */
    width: 100%;
    height: 45%;
}

.charts-sections3 {
    /* display: flex; */
    /* display: grid; */
    /* justify-content: center; */
    /* max-height: 250px; */
    width: 100%;
    height: 45%;
}
.graphs {
    /* display: flex; */
    /* display: grid; */
    /* justify-content: center; */
    /* max-height: 250px; */
    display: flex;
    width: 100%;
    height: 100%;
}
AgChartsReact {
    max-height: 250px;
}
